.profile-main{
    background-color: #CAC0B5;
    padding: 20px;
}

.profile-container {
    max-width: 800px; /* Increase the container width for more space */
    margin: auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #996A58;
    color: white;
    display: flex;
    justify-content: space-between;
}

.profile-header {
    text-align: center;
    margin-bottom: 30px; /* Add space between the header and profile details */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.profile-image {
    width: 150px;
    height: 150px;
    /* margin-left: 42.5vh; */
    border-radius: 50%;
    background-image: url('https://www.example.com/your-image.jpg');
    background-color: #aa9b8b;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 15px;
}

.profile-username {
    font-size: 24px;
    font-weight: bold;
}

.profile-details {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
    width: 40%;
}

.profile-details p {
    font-size: 16px;
}

.profile-error-message {
    color: red;
    font-size: 18px;
    text-align: center;
}

.edit-button-profile {
    /* height: 40px; */
    width: 20%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #efab90;
    font-size: 14px;
    /* margin: auto; */
    text-align: center;
    font-weight: 600;
}

.profile-save-button {
    background-color: #b9b78a;
    border: none;
    font-weight: 700;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.profile-cancel-button {
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    background-color: #aa9b8b;
    border: none;
    font-weight: 800;
    color: white;
}


