.container {
    background: rgba(255, 247, 230, 0.9); 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    z-index: 1;
}

h1 {
    margin-bottom: 20px;
    color: #8b5e34;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px; 
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #d9d2c3;
    border-radius: 5px;
    font-size: 14px;
    background: #fffaf3; 
    outline: none;
}

.sub {
    padding: 10px;
    background-color: #8b5e34; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    font-size: 15px;
}

.sub:hover {
    background-color: #704c28; 
}

h3 {
    margin-top: 15px;
    color: #6b4c2a; 
}

a {
    color: #8b5e34;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    display: inline-block; 
    margin-top: 20px; 
}

a:hover {
    color: #704c28;
}