@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Quattrocento:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&family=League+Spartan:wght@100..900&display=swap');

.TrackPage-container{
    height:70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container{
    height:20px;
    background-color: #CAC0B5;
}

.trackPage-div{
    background-color: #7C5F4E;;
    height: 85%;
    width: 50%;
    margin-top: 5%;
    border-radius: 20px;
    display: flex;
    /* padding: 2.5%; */
}

.trackdiv-1{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.trackdiv-1 img{
    width: 70%;
}

.trackdiv-1 h2{
    font-family: Quattrocento;
    color: white;
}

.trackdiv-2{
    width: 60%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    padding: 7%;
    background-color: antiquewhite;
    gap: 10%;
}

.trackdiv-2 input{
    width: 90%;
    padding: 2.5%;
    font-size: 14.5px;
    font-weight: 500;
    font-family: Courier prime;
}

.trackdiv-2 label{
    font-family: Quattrocento ;
    font-weight: 800;
}

.trackdiv-2 input:focus{
    outline: none;
}

.tract-input-cont{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.trackdiv-2 button{
    width: 50%;
    padding: 3%;
    background-color: #7C5F4E;
    color: white;
    border: none;
    font-family: Courier prime ;
    font-size: 16.3px;
}